body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
* {
	font-family: "Verdana", cursive, sans-serif;
	color: #ffffff;
}

.main-content {
	margin-top: 100px;
	margin-right: 25%;
	color: rgb(43, 43, 43);
}

body {
	background-color: #c3d2d5;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.app {
	background-color: #824670;
	width: 450px;
	min-height: 200px;
	height: min-content;
	border-radius: 15px;
	padding: 20px;
	box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
	display: flex;
	justify-content: space-evenly;
}

.score-section {
	display: flex;
	font-size: 24px;
	align-items: center;
}

.question-section {
	width: 100%;
	position: relative;
}

.question-count {
	margin-bottom: 20px;
}

.question-count span {
	font-size: 28px;
}

.question-text {
	margin-bottom: 12px;
}

.timer-text {
	background: rgb(230, 153, 12);
	padding: 15px;
	margin-top: 20px;
	margin-right: 20px;
	border: 5px solid rgb(255, 189, 67);
	border-radius: 15px;
	text-align: center;
}

.answer-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

button {
	width: 100%;
	font-size: 16px;
	color: #030000;
	background-color: #f4e285;
	border-radius: 15px;
	display: flex;
	padding: 5px;
	justify-content: flex-start;
	align-items: center;
	border: 5px solid #8cb369;
	cursor: pointer;
}

.correct {
	background-color: #2f922f;
}

.incorrect {
	background-color: #ff3333;
}

button:hover {
	background-color: #f3e0ec;
}

button:focus {
	outline: none;
}

button svg {
	margin-right: 5px;
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #949494;
	color: #444444;
	height: 60px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	/* justify-content: center; */
}

.navbar a {
	float: center;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 10px 12px;
	text-decoration: none;
	/* justify-content: center; */
}

.navbar a:hover {
	background: #ddd;
	color: black;
	transition-duration: 1s;
	/* transition-property: color; */
}
